* {
  box-sizing: border-box;
  padding: 0;
}

:root {
  --dark: #53125c;
  --light: #ceb0da;
  --project-purple: #64088f;
}

main {
  margin: 0 auto;
  max-width: 80%;
}

.side-header {
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  color: var(--dark);
  padding: 15px;
  border-right: 5px solid var(--project-purple);
  margin-top: 10px;
  height: 250px;
  flex-wrap: wrap;
  flex-basis: 15%;
}

#work {
  display: flex;
}

#work .side-header {
  border-right: 5px solid var(--project-purple);
  height: 850px;
}

.container {
  display: flex;
  padding: 15px;
}

.card {
  border-radius: 2px;
  height: 400px;
  margin: 1rem;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: center;
  padding: 5px;
}

.img {
  max-height: 100px;
  max-width: 300px;
  padding-top: 5px;
}
